body {font-family: sans-serif}

#tests {margin-left: auto; margin-right: auto; width: 500px}

.test {}

.test-name {width: 50%; background-color: #eee; float: left}

.test-result {display: inline-block; width: 50%;} 

.test-result-success {background-color: green; color: white}

.test-result-failure {background-color: red; color: white}
